ExtraArgs:
  - "-Wno-unknown-warning-option" # same result without single quotes

Checks:
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -bugprone-signed-char-misuse,
  -bugprone-sizeof-expression,
  cert-*,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  clang-analyzer-*,
  -clang-analyzer-optin.cplusplus.UninitializedObject,
  concurrency-*,
  misc-*,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-use-anonymous-namespace,
  performance-*,
  portability-*,
  readability-*,
  -readability-avoid-return-with-void-value,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-else-after-return,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-redundant-casting,
  -readability-static-accessed-through-instance,